{% extends 'extends/hostler_extends.html' %}
{% block content%}
<div class="container w-50" align="center">
    <div class="row mt-5 z-depth-3 w-75" style="background:#5CF7E7;">
        <div class="col-6 my-5 " >
            <a class="nav-link  li-margin" href="/hostler/complain/">COMPLAIN</a>
        </div>
    </div>
    <div class="row mt-5 my-5 z-depth-3 w-75" style="background:#5CF7E7;">
        <div class="col-6 my-5" >
            <a class="nav-link  li-margin" href="/hostler/complain_status/">COMPLAIN&nbsp;STATUS</a>
        </div>
    </div>
    <div class="row mt-5 z-depth-3 w-75" style="background:#5CF7E7;">
        <div class="col-6 my-5" >
            <a class="nav-link  li-margin" href="/hostler/receipt/">RECEIPT</a>
        </div>
    </div>
</div>
{% endblock %}