<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Sorry, you are logged out</title>
</head>
<body>
<h1>You are logged out</h1>
<center>
    <div style="width:60%;border:1px solid;font-size:25px;">
        <p style="margin-top:50px;margin-bottom:50px;">
            you pressed the logout button <br>
            go to the<a href="/"> home page</a><br>
        </p>
    </div>
</center>
</body>
</html>